<!DOCTYPE HTML>
<html>
<head>
    <title>Twitter Data</title>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">
    
    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>Twitter</h1>
        
        <br>
        <h4>Total Tweets: {{ total }} | Runtime: {{ runtime.duracao[0] }}</h4>
        
        <br>
        <h4>Métricas</4>
        <p>Engag_Rep_m - Média de replies por Tweet (Replies/Tweets)</p>
        <p>Engag_Tweet - Soma de Replies e Retweets por Tweet (Replies + Retweets/Tweets)</p>
        <p>Engag_User - Soma de Replies e Retweets por Total Followers  (Replies + Retweets/Followers)</p>
        <br>
        
        {% for t in last_tweet %}
            <h4>Last Tweets: </h4>
            <p>
                <a href="http://www.twitter.com/anyuser/status/{{ t.id }}">{{ t.id }}</a> | 
                {{ t.created_at }}
            </p>
        {% endfor %}
        
        <br>
        <h2>Brasil:</h2>
        {{ user_stats[user_stats['local'] == "Brasil"].to_html(classes="tb display compact stripe", table_id="brasil") | safe}}
        <br>
        <h2>Portugal:</h2>
        {{ user_stats[user_stats['local'] == "Portugal"].to_html(classes="tb display compact stripe",table_id="pt") | safe}}
        <br>
        <h2>Reino Unido:</h2>
        {{ user_stats[user_stats['local'] == "Reino Unido "].to_html(classes="tb display compact stripe",table_id="uk") | safe}}
        <br>
        <h2>EUA:</h2>
        {{ user_stats[user_stats['local'] == "EUA"].to_html(classes="tb display compact stripe",table_id="usa") | safe}}
        <br>
        <h2>GLOBAL:</h2>
        {{ user_stats[user_stats['local'] == "GLOBAL"].to_html(classes="tb display compact stripe",table_id="gl") | safe}}
        <br>


        <div class="row">
            <h2>Tweets per hour</h2>
            <div class="col-12">
                <img class="mx-auto d-block" src= {{graph}} ></img>
            </div>
        </div>

        <br>
        <h2>Word count Replies:</h2>
        <div>
            {{ resultado.to_html(classes="display compact stripe words") | safe}}
        </div>

        <h2>Tweets filterde with Word List:</h2>
        <div>
            {{ tweets_word_list.to_html(classes="display compact stripe tweets_words", escape=False) | safe}}
        </div>

    


        </br>
        <h2>Sys Info:</h2>
        <ul>
            <li>Total Space: {{space}} GB</li>
            <li>Used Space: {{used}} GB</li>
            <li>Free Space: {{free}} GB</li>
        </ul>
        
        
    </div>
    <script type="text/javascript">
        $(document).ready( function () {
            $('.tb').DataTable(
                {"paging":   false,
                "info":     false,
                "searching": false,
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [ 6 ],
                        "visible": false
                    },
                    {
                        "targets": [ 10 ],
                        "visible": false
                    }
                ]}
            );
            $('.words').DataTable(
                {"paging":   false,
                "info":     false,
                "searching": false,
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ]}
            );

            $('.tweets_words').DataTable(
                {"paging":   true,
                "info":     true,
                "searching": true,
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ]}
            );
            
        } );
    </script>

</body>
</html>
